* {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    justify-content:center;

}

#book-content-section {
    margin: 0 5em 0 5em;
}

.book-details {
    font-size: large;
}

.book-title {
    font-size: xx-large;
    font-family:Verdana, Tahoma, sans-serif;
    font-weight: bold;
}


